################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PokerHandsAnalyser/.vs/PokerHandsAnalyser/v16
/PokerHandsAnalyser/.vs/PokerHandsAnalyser/DesignTimeBuild/.dtbcache
